main a,
article a {
  text-decoration: none;
  color: rgb(148, 203, 173);
  border: 2px solid rgb(148, 203, 173);
  border-radius: 15px;
  padding: 15px;
  display: inline-block;
  margin-top: 20px;
  cursor: pointer;
}
